/*##### GENERIC STYLES #####*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font: inherit;
    vertical-align: baseline;
}

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

.clr { clear: both; }
.flt { float: left; }
.frt { float: right;}
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.offscreen, .hide { position: absolute !important; clip: rect(1px, 1px, 1px, 1px); }

b, strong, .bold { font-weight: 700; }
em, i { font-style: italic; }

/*Clearfix*/
.cl:before, .cl:after { content: ""; display: table; }
.cl:after { clear: both; }


html { font: normal 62.5% Arial, Helvetica, sans-serif; }
body { font-size: 1.6rem; text-align: center; }

body {
    /*background: blue url('../img/resume.jpg') 50% 1rem no-repeat;*/
}

.wysiwyg {
    font-family: $cambria;
    font-size: 1.6rem;
    line-height: 1.4;
    color: $resume-gray;

    p {
        margin-bottom: $gap;

        &.list__item {
            margin-bottom: 0;
            line-height: 1.3;
        }
    }

    a {
        border-bottom: solid 1px $resume-blue;
        color: $resume-blue;
        text-decoration: none;
    }

    ul {
        margin-top: ($gap*1.5);
        margin-bottom: ($gap*1.5);
        list-style-type: none;

        li {
            position: relative;
            padding-left: 1.5em;

            &:not(:last-child){
                margin-bottom: .5em;
            }

            &:before {
                content: '■';
                position: absolute;
                top: .4em;
                left: 0;
                font-size: 1rem;
                color: $resume-blue;
            }

            p {
                margin-bottom: 0;
            }
        }
    }
}

.title-2, .title-3 {
    margin-bottom: $gap;
    font-family: 'Open Sans';
    color: $resume-blue;
    text-transform: uppercase;

    & + .dates {
        margin-top: -$gap;
    }
}

.title-2 {
    font-size: 2.2rem;
    font-weight: 800;
}

.title-3 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -0.03em;
    line-height: 1.3;

    .experience__item__position {
        font-weight: 100;
    }

    &-2 {
        font-style: italic;
    }
}

.dates {
    margin-bottom: $gap;
    font-family: 'Open Sans';
    font-size: 1.4rem;
    font-weight: 100;
    color: $resume-gray-light;
    text-transform: uppercase
}

.tags {
    margin-bottom: ($gap*1.5);
    font-family: $cambria;
    color: $resume-gray-light;
    list-style-type: none;
}
.tag__item {
    display: inline-block;

    &:not(:last-child) {
        position: relative;
        margin-right: .7rem;
        padding-right: 1.3rem; 

        &:after {
            content: "/";
            position: absolute;
            right: 0;
        }
    }
    

    
}