/*##### GENERIC STYLES #####*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font: inherit;
    vertical-align: baseline;
}

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

.clr { clear: both; }
.flt { float: left; }
.frt { float: right;}
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.offscreen, .hide { position: absolute !important; clip: rect(1px, 1px, 1px, 1px); }

b, strong, .bold { font-weight: 700; }
em, i { font-style: italic; }

/*Clearfix*/
.cl:before, .cl:after { content: ""; display: table; }
.cl:after { clear: both; }


html { font: normal 62.5% $roboto; }
body { font-size: 1.6rem; text-align: center; }

html, body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  &.not-overflow {
    position: relative;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba($white, 0);
  transition: background .2s linear;

  &.open {
    z-index: 1;
    background: rgba($white, .8);
    transition: background .2s linear;
  }
}

.category-one-star,
.category-two-stars,
.category-three-stars,
.category-four-stars,
.category-five-stars { display: inline-block; width: 10.5rem; height: 1.5rem; background: url(../img/sprite-stars.png) 0 0 no-repeat; text-indent: -9999em; }
  .category-one-star { background-position: 0 -60px }
  .category-two-stars { background-position: 0 -45px }
  .category-three-stars { background-position: 0 -30px }
  .category-four-stars { background-position: 0 -15px }
  .category-five-stars { background-position: 0 0px }
