//- index.pug
doctype html
html(lang="es-ES")
  head
    title Page Title
    
    include partials/head.pug
    
    //- Own CSS
    link(href="css/styles.css" rel="stylesheet" type="text/css")

  body
    include partials/header.pug

    main.bodyContent
      
    include partials/footer.pug