//- index.pug
doctype html
html(lang="es-ES")
  head
    title Santiago Martín Pulido - Programador Frontend
    
    include partials/head.pug
    
    //- Own CSS
    link(href="css/styles.css" rel="stylesheet" type="text/css")

  body
    include partials/header.pug

    main.bodyContent
      .wrapper
        include components/greeting.pug
        include components/experience-list.pug
        include components/sideproject-list.pug
        include components/education-list.pug