//- partials/head.pug
meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
meta(name="viewport" content="initial-scale=1.0, width=device-width")

link(rel="shortcut icon" href="favicon.ico")
link(href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet")