//- partials/header.pug
header.header
  .wrapper

    .personal
      h1.personal__fullname Santi Martin Pulido
        span.hide  - 
        span.personal__position Programador Frontend

      img(src="img/me.jpg" alt="Yo, sonriendo y mirando a cámara").personal__photo


      ul.personal__contact
        li.personal__contact__item
          a(href="mailto:smartinpulido@gmail.com" title="Envíame un email").personal__email smartinpulido@gmail.com
        li.personal__contact__item
          a(href="tel:625909816" title="Llámame").personal__phone 625.90.98.16
        li.personal__contact__item
          a(href="http://linkedin.com/in/martinpulido" title="Visita mi perfil de LinkedIn").personal__website linkedin.com/in/martinpulido
