//- components/additional-training.pug
h2.title-2 Formación Complementaria
.wysiwyg
  p Intento siempre mantenerme al día y siempre encuentro algún curso interesante para hacer. Estos son algunos de los últimos que he realizado: 
  ul
    li
      strong Curso de Angular 7. Desde cero hasta profesional / 
      |  Udemy 
      br
      a(href="https://www.udemy.com/curso-de-angular-4-desde-cero-hasta-profesional/" target="_blank" title="Abre enlace externo en ventana nueva")="https://www.udemy.com/curso-de-angular-4-desde-cero-hasta-profesional/"
    li 
      strong Curso de VueJS 2 en español / 
      |  Udemy
      br
      a(href="https://www.udemy.com/curso-de-vuejs-2-en-espanol-crea-webapps-modernas/" target="_blank" title="Abre enlace externo en ventana nueva")="https://www.udemy.com/curso-de-vuejs-2-en-espanol-crea-webapps-modernas/"
    li 
      strong Code School: Javascript Best Practices / 
      |  Pluralsight (Antes Code School) 
      br
      a(href="https://www.pluralsight.com/courses/code-school-javascript-best-practices" target="_blank" title="Abre enlace externo en ventana nueva")="https://www.pluralsight.com/courses/code-school-javascript-best-practices"
    li
      strong CSS Grid / 
      |  Wes Bos
      br
      a(href="https://cssgrid.io/" target="_blank" title="Abre enlace externo en ventana nueva")="https://cssgrid.io/"