//- components/education-item.pug
mixin education-item (company,position,dates)
  article.education__item
    header
      h1.title-3= company + " / "
        span.experience__item__position=position
      h2.dates= dates