//- components/experience.pug
include experience-item.pug

section.experience
  h2.title-2 Experiencia

  //- experience-item (company,position,dateInit,dateEnd,description,projects,tags)
  - var dateInit = {name:"Abr 2018",datetime:"2018-04"};
  - var dateEnd = {name:"Sep 2018",datetime:"2018-09"};
  - var description = "En mi breve estancia en Wildôom, desarrollé maquetas semánticas y responsive HTML / CSS para tres proyectos, uno de los cuales es el que destaco. Además, debido a la estructura modular y componetizada del proyecto destacado, se pudo convertir en kit base (el otro proyecto destacado) sobre el que generar otros portales. Otro de los proyectos se trataba de un juego de preguntas y respuestas sobre la <strong>API de JavaScript de Google Maps</strong>, pero fue un proyecto privado para los empleados del cliente.";
  - var highlightProjects = [{name:"I77 Express",url:"https://www.i77express.com/"},{name:"Autema (Kit Base)",url:"https://www.autema.com/"}];
  - var tags = ["Sketch","HTML5","PUG","CSS3","SASS","BEM","RWD","JavaScript","jQuery","GIT","CodeKit","WordPress"];
  +experience-item('Wildôom - We are MEW', 'Desarrollador Frontend Senior', dateInit, dateEnd, description, highlightProjects, tags )

  - var dateInit = {name:"Feb 2017",datetim:"2017-02"};
  - var dateEnd = {name:"Mar 2018",datetime:"2018-03"};
  - var description = "Dentro de un equipo propio de Tanta Comunicación estuve un año trabajando con <em>Scrum</em> desarrollando el frontend responsive del portal BBVA Cash Equity Research en base a la guía de estilo de BBVA.";
  - var highlightProjects = [{name:"BBVA Cash Equity Research",url:"https://www.bbvacashequity.com/iberia/"}];
  - var tags = ["Photoshop","Sketch","Zeplin","HTML5","CSS3","SASS","BEM","JavaScript","jQuery","JSLint","GIT","WordPress"];
  +experience-item('BBVA', 'Desarrollador Frontend Senior', dateInit, dateEnd, description, highlightProjects, tags )

  - var dateInit = {name:"Sep 2006",datetime:"2006-09"};
  - var dateEnd = {name:"Mar 2018",datetime:"2018-03"};
  - var description = "Desarrollo de maquetas <em>responsive</em>. Maquetación semántica en HTML y CSS / SASS.  Nomenclatura BEM. Automatización con GULP. Integración de <em>front</em> en <em>backend</em>. Además, durante a través de Indra, participé en su momento en el desarrollo de los portales del Grupo Antena 3 (2007 - 2008) e Iberia L.A.E. (2008 - 2012)";
  - var highlightProjects = [{name:"Ferroglobe / Ferroatlántica ",url:"http://www.ferroatlantica.es"},{name:"Ediciones Francis Lefebvre - Tienda Online",url:"https://www.efl.es/"},{name:"Exámenes Instituto Cervantes ",url:"https://examenes.cervantes.es/es"}];
  - var tags = ["PhotoShop","Illustrator","HTML5","CSS3","SASS","Bootstrap","JavaScript","jQuery","GIT","BitBucket","Drupal"];
  +experience-item('Tanta Comunicación', 'Desarrollador Frontend Senior', dateInit, dateEnd, description, highlightProjects, tags )

