//- components/greeting.pug
section.greeting
  h2.title-2 ¡¡¡Hola!!!
  .wysiwyg
    p Mi nombre es Santi Martin y soy Programador Frontend o Maquetador Web, ya no sé muy bien cómo llamarlo. Me encanta maquetar.  Y hacerlo de forma organizada y semántica: Me gusta usar metodologías como #[abbr(title="Block Element Modifier") BEM] para el #[strong HTML]; siempre que puedo, el #[i responsive design] con #[i mobile first] y patrones de diseño como el Módulo para #[strong JavaScript]. 
    p Me desenvuelvo bien con Photoshop, Illustrator o Sketch, así que no tengo que molestar al diseñador cuando necesito extraer una imagen o icono. Veo las páginas web como puzzles, en los que construyo las piezas con #[strong HTML] y las doy forma y color con #[strong CSS] –aunque me encanta lo que aporta #[strong SASS]-. E incluso añado interactividad con JavaScript y #[strong jQuery]. 
    p Además, aunque todavía no he trabajado con ningún #[i framework] de JavaScript hasta el momento, considero que es un buen complemento profesional y por eso estoy aprendiendo #[strong VueJS] y #[strong Angular 7].
    p Considero que tengo un nivel de inglés #[strong medio] –según el #[abbr(title="Marco Común Europeo de Referencia para las lenguas") MCER]: B1– lo que me facilita comprender documentación, peticiones y requisitos del cliente y llevarlos a cabo con éxito.
    p ¡Ah!, se me olvidaba: he trabajado con #[strong Scrum] –aunque no todo lo que me gustaría– y estoy #[a(href="https://scrummanager.com/index.php/es/perfil-publico?id=19200" target="_blank" title="Enlace externo en ventana nueva: Abre mi perfil público de Scrum Manager") certificado como Nivel Experto con 120 #[abbr(title="Puntos de Autoridad") PDAs]].