//- components/sideproject-list.pug
section.sideproject
  h2.title-2 Proyectos Paralelos

  article.sideproject__item
    header
      h1.hide VueJS y Angular
      h2.dates Oct 2018 - Actualmente
    .wysiwyg
      p Tras realizar dos cursos de VueJS y Angular, para poder poner en práctica lo aprendido y asentar conocimientos decidí aplicarlo a unas plantillas HTML / CSS ya hechas, simulando la obtención de datos de una API –obteniendo los datos de un JSON- y subirlo a mi perfil de GitHub.
      ul
        li
          strong VueJS 2: Dropcast / 
          a(href="https://github.com/martinpulido/dropcast" target="_blank" title="Abre enlace externo en ventana nueva")="https://github.com/martinpulido/dropcast"
        li 
          strong Angular(7): Avana / 
          a(href="https://github.com/martinpulido/avana" target="_blank" title="Abre enlace externo en ventana nueva")="https://github.com/martinpulido/avana"
          |  (En Desarollo)